/*Секция герой*/

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 280px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
    ),
    url(../img/Header-img.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    background-color: rgba(47, 48, 58, 0.8);
}

.section-title.main-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/*Модальное окно*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 1024px;
    background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 221px;
    left: 536px;
    width: 528px;
    height: 581px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    background-image: url(../img/icon/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-sizing: border-box;
}

/*Стилизация заголовков*/

.section-title {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/*Секция Особенности нашей работы*/

.advantages {
    display: flex;
    margin: 0;
}

.holder:not(:nth-child(4n)) {
    margin-right: 30px;
}

.holder {
    width: calc((100% - 30px*3)/4);
}

.holder::before {
    display: block;
    content: "";
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.icon-antenna::before {
    background-image: url(../img/icon/antenna.svg);
}

.icon-clock::before {
    background-image: url(../img/icon/clock.svg);
}

.icon-diagram::before {
    background-image: url(../img/icon/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../img/icon/astronaut.svg);
}

/*.holder-img {
    margin-bottom: 30px;
    padding: 25px 101px;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    text-align: center;
}*/

.holder>h3 {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.holder-item {  
    height: 75px;
    font-size: 14px;
    line-height: 1.71;
}

/*Секция Чем мы занимаемся*/

.occupation {
    display: flex;
}

.occupation-item:not(:nth-child(3n)){
    display: block;
    margin-right: 30px;
}

.occupation-card {
    position: relative;
    width: 100%;
    height: 100%;
}

.occupation-image {
    display: block;
    margin: 0;
}

.occupation-type {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    padding: 27px 80px;
    align-items: center;
    width: 370px;
    height: 70px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background-color: rgba(47, 48, 58, 0.8);
}

/*Секция Наша команда*/

.section.team {
    background-color: var(--secondary-background-color);
}

.list-team {
    display: flex;
}

.card-team:not(:nth-child(4n)) {
    margin-right: 30px;
}

.card-team {
    width: calc((100% - 30px*3)/4);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
}

.card-team .social-list {
    justify-content: center;
}

.photo-team {
    display: block;
    margin-bottom: 30px;
}

.name-team {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.position-team {
    text-align: center;
    margin-bottom: 16px;
}

.social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    color: #AFB1B8;
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    color: #ffffff;
}

.icon {
    fill: currentColor;
}

/*Секция Постоянные клиенты*/

.list-client {
    display: flex;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    color: #AFB1B8;
}

.clients-link:hover,
.clients-link:focus {
    border: 1px solid var(--accent-color);
}

.clients-link:hover .icon,
.clients-link:focus .icon {
    fill: var(--accent-color);
}

.item-clients:not(:nth-child(6n)) {
    margin-right: 30px;
}

/*цвет основного текста #212121*/

/*вторичный цвет #757575*/

/*белый #FFFFFF*/

/*акцент #2196F3*/

/*основной цвет фона #FFFFFF*/

/*вторичный цвет фона #F5F4FA*/

/*цвет фона футера #2F303A*/

